{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}
{% block content %}
<div class="card">
  <h3 class="title">Bienvenid@ a Mi Bello Hogar</h3>
  <span class="subtitle">Vamos a crear tu cuenta!</span>
  <form class="form" action="" method="POST">
<div class="group">
    <input placeholder="‎" type="user" id="user" name="user" required="">
    <label for="user">Usuario</label>
    </div>
<div class="group">
    <input placeholder="‎" type="password" id="pass" name="pass" required="">
    <label for="pass">Contraseña</label>
    </div>
    <button type="submit">Ingresar</button>
  </form>
</div>
{% endblock %}
