{% extends 'base.html' %}
{% block title %}Registrarse{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}
{% block content %}
<div class="card">
  <h3 class="title">Bienvenid@ a Mi Bello Hogar</h3>
  <span class="subtitle">Vamos a crear tu cuenta!</span>
  <form class="form" action="" method="POST">
    <div class="group">
    <input placeholder="‎" type="text" name="name" id="name" required="">
    <label for="name">Nombre</label>
    </div>
<div class="group">
    <input placeholder="‎" type="email" id="email" name="email" required="">
    <label for="email">Correo</label>
    </div>
<div class="group">
    <input placeholder="‎" type="password" id="pass" name="pass" required="">
    <label for="pass">Contraseña</label>
    </div>
<div class="group">
    <input placeholder="‎" type="numeric" id="phone" name="phone" required="">
    <label for="phone">Telefono</label>
    </div>
<div class="group">
    <input placeholder="‎" type="text" id="address" name="address" required="">
    <label for="address">Dirección</label>
    </div>
    <button id="btn-submit" type="submit">Registrar</button>
  </form>
</div>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
<script src='{{ url_for('static', filename='js/register.js') }}'></script>
{% endblock %}