{% extends "base.html" %}
{% block title %}Falla en pago - Mi Bello Hogar{% endblock title %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/failure.css') }}"> {% endblock css %}

{% block content %}
<div>
<div class="failure-card">
    <div class="titulo">
    <h2 class="">Tú pedido no se ha procesao correctamente :(</h2>
</div>
    <p>Puedes itentarlo nuevamente ingresando a este botón:</p>
    <button class="btn-pago" type="button" onclick="window.location.href='{{ url_for('payment.payment') }}'">Reintentar</button>

</div>    
{% endblock content %}
