{% extends 'base.html' %} {% block title %}Carrito de compras - Mi Bello Hogar{%
endblock %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/carrito.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <h1>Carrito de compras</h1>
  <ul id="cart-items"></ul>
  <strong><p id="total-price">Total: $0</p></strong>
  <a class="btn-paginapago" onClick="enviarProductos()" >Ir a pagar</a>
</div>
{% endblock %} 
{% block js %}
<script src="{{ url_for('static', filename='js/addCart.js') }}"></script>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
<script>
  const isAuthenticated = {{ g.authenticated | tojson }};
const enviarProductos = () => {
  const data = { carrito: productos };
  fetch("/carrito", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(data),
  })
    .then((response) => {
      if (response.ok) {
        if (isAuthenticated) {
          fetch("/payment/checkout/user", {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            }
          })
            .then((response) => {
              if (response.ok) {
                response.json().then((data) => {
                  window.location.href = data.link_pago;
                })
              }
            })
        }else{
        window.location.href = "/payment/checkout";
      }
      }
    })
    .catch((error) => {
      console.error("Error al enviar los datos a la ruta de carrito", error);
    });

};
</script>
{% endblock js %}
