{% extends 'base.html' %} {% block title %}Carrito de compras - Mi Bello Hogar{%
endblock %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/carrito.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <h1>Carrito de compras</h1>
  <ul id="cart-items"></ul>
  <strong><p id="total-price">Total: $0</p></strong>
  <a class="btn-paginapago" onclick="enviarProductos()">Ir a la página de pago</a>
</div>
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='js/addCart.js') }}"></script>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock js %}
