{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="hero">
  <img src="{{ url_for('static', filename='img/hero-desktop.jpg') }}" width="100%" alt="">
</div>
<div class="categories">
  <h2>Nuestro catalogo de ventas <span class="material-symbols-outlined">
shopping_bag
</span></h2>
</div>
<div class="card-container">
  {% for categoria in categorias['categorys'] %}
  <a href="/productos/{{ categoria['categoria'] }}" class="card-category">
    <div class="image">
      <img src="{{ url_for('static', filename='img/' + categoria['categoria'] | lower + '.jpg') }}" alt="{{ categoria['categoria'] }}" />
    </div>
    <div class="container-text">
      <h3>{{ categoria['categoria'] }}</h3>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
