{% extends 'base.html' %}
{% block title %}Productos de {% if category %}{{ category | lower }}{% else %} Mi Bello Hogar{% endif %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
{% endblock %}
{% block content %}
<div>
    {% if productos %}
    {% if category%}
    <div class="title-product">
        <h2>Productos de {{ category | title }}</h2>
    </div>
    {% else %}
    <div class="title-product">
      <h2>Productos de Mi Bello Hogar</h2>
    </div>
    {% endif %} 
    <div class="main">
      {% for producto in productos %}
      <a href="/productos/detalle/{{ producto.producto_id }}" >
        <div class="card" id="{{ producto.producto_id }}">
          <div class="product-image">
            {% for imagen in imagenes %}
              {% if imagen.producto_id == producto.producto_id %}
                <img class="image" src="data:image/jpeg;base64,{{ imagen.imagen_data|b64encode }}" alt="Imagen principal">
              {% endif %}
            {% endfor %}
          </div>
          <div class="product-details">
            <div class="heading">{{ producto.nombre_producto.title() }}</div>
            <div class="description">{{ producto.descripcion }}</div>
            <div class="price">$ {{ producto.precio|format }}</div>
          </a>
            <div class="buttons">
<button class="CartBtn">
  <span class="IconContainer"> 
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="rgb(255, 255, 255)" class="cart"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg>
  </span>
  <p class="text">Añadir al carrito</p>
</button>
              <button class="btn1">Comprar</button>

            </div>
          </div>
        </div>
      {% endfor %}

    </div>

       {% endif %}
</div>

{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/addCart.js') }}"></script>
{% endblock js %}
