.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h1 {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.product-item .product-info {
    flex: 1;
}

.product-item .product-actions {
    flex: 0;
}

.product-actions .remove-button {
    color: red;
    cursor: pointer;
}

.btn-paginapago {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.btn-paginapago:hover {
    background-color: #0056b3;
}
