body {
  margin: 0;
  background-color: #e1f1f2;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  flex: 1;
}

.navbar {
  background-color: #004943;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.navbar .icono a span {
  font-size: 20px;
}

.navbar .icono{
  margin-left: 30px;
}

.navbar .buscador {
  margin-left: 560px;
  margin-top: 20px;
}

.navbar .buscador input {
  padding: 15px 100px;
  border-radius: 4vw;
  border: none;
  margin-bottom: 15px;
}

.navbar a {
  text-decoration: none;
  color: white;

}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-left: 3rem;
}

.navbar ul li a {
  font-size: 16px;
  padding: 15px 20px;
}

.navbar ul li a:hover {
  background-color: #2b837f;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 15px;
}

.buscador {
  display: flex;
}

.buscador {
  text-align: center;
}

.btn-search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 4px;
  border: none;
  background-color: #2b837f;
  color: white;
  margin-bottom: 15px;
  margin-top: 2px;
  border-radius: 0.5rem;
}

.btn-search span {
  margin-right: 0.2vw;
  margin-left: 0.1vw;
}

.btn-search span:last-child {
  font-weight: bold;
}

.menu-hidden {
  display: none;
}
.show-menu {
  display: block !important;
}

.content {
  margin-bottom: 480px;
}

footer {
  background-color: #004943;
  color: #fff;
  padding: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-social a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.footer-copyright {
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .navbar .burger {
    display: none;
  }

  .navbar ul:not(.burger) {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .navbar .icono a span {
    font-size: 2.4vh;
  }

  .navbar .buscador {
    margin-left: 2vw;
    margin-top: 1vh;
  }

  .navbar .buscador input {
    border-radius: 4vw;
    border: none;
    width: 30vw;
    font-size: 1.3vh;
    margin-bottom: 1vh;
  }

  .navbar .buscador .btn-search {
    width: 10vw;
    border-radius: 50%;
  }

  .navbar .buscador .text-btn-search {
    display: none;
  }
  .menu-toggle {
    margin-left: 10vw;
  }

  .menu-toggle span {
    background-color: #fff;
    height: 3px;
    width: 25px;
    display: block;
    margin: 5px auto;
  }
  .navbar ul.show-menu {
    display: block;
    position: absolute;
    top: 6%;
    left: 56%;
    background-color: #004943;
  }

  .navbar ul li a {
    font-size: 1.5vh;
    padding: 1vh 1vw;
  }

  .navbar ul.show-menu li {
    padding: 10px;
  }
}

.burger {
  display: none;
}

.show-menu {
  display: block !important;
}


.flash{
  background-color: red;
  width: 30vw;
  padding: 30px 30px;
  text-align: center;
  justify-content: center;
  margin-left: 35vw;
}



@media (max-width: 1644px) {
  .navbar .burger {
    display: none;
  }

  .navbar ul:not(.burger) {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .navbar .icono a span {
    font-size: 2.4vh;
  }

  .navbar .buscador {
    margin-left: 2vw;
    margin-top: 1vh;
  }

  .navbar .buscador input {
    border-radius: 4vw;
    border: none;
    width: 30vw;
    font-size: 1.3vh;
    margin-bottom: 1vh;
  }

  .navbar .buscador .btn-search {
    width: 10vw;
    border-radius: 50%;
  }

  .navbar .buscador .text-btn-search {
    display: none;
  }
  .menu-toggle {
    margin-left: 10vw;
  }

  .menu-toggle span {
    background-color: #fff;
    height: 3px;
    width: 25px;
    display: block;
    margin: 5px auto;
  }
  .show-menu {
    display: block !important;
  }
}
