<!doctype html>
<html lang="es">
  <head>
    <title>{% block title %}{% endblock %} - StoreApp</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{{ url_for('static', filename='main.css') }}"
      rel="stylesheet"
    />

  </head>
  <body>
    <nav class="navbar">
      <div class="icono">
        <a to="/" >
          <span
            >Tienda de muebles</span
          >
        </a>
      </div>
      <form class="buscador" action="" method='get'>
        <input type="text" name="search" placeholder="¿Quieres buscar algo?">
      </form>
      <ul class="burger">
        <li><a href="">Inicio</a></li>
        <li class="dropdown">
          <a href="#">Productos</a>
          {% for categoria in categorias %}
          <div class="dropdown-content">
            <a href="#">{{ categoria['categoria'] }}</a>
          </div>
          {% endfor %}
        </li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </nav>
    <section class="content">
      {% block content %}
      {% endblock %}
    </section>
  </body>
</html>
