<!doctype html>
<html lang="es">
  <head>
    <title>{% block title %}{% endblock %} - StoreApp</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="">
      <div className="flex order-1">
        <a to="/" className="flex items-center">
          <span
            class=""
            >Tienda de muebles</span
          >
        </a>
      </div>
      <ul>
        <li><a href="">Inicio</a></li>
        <li class="dropdown">
          <a href="#">Productos</a>
          {% for categoria in categorias %}
          <div class="dropdown-content">
            <a href="#">{{ categoria['categoria'] }}</a>
          </div>
          {% endfor %}
        </li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </nav>
  </body>
</html>
